<section class="row">
        <button type="button"
                class="{{classBtn}}"
                (click)="partieManager.onStart()">Start</button>
        <button type="button"
                class="{{classBtn}}"
                (click)="partieManager.onPause()">Pause</button>
        <button type="button"
                class="{{classBtn}}"
                (click)="partieManager.onPasAPas()">PAP</button>
        <button type="button"
                class="{{classBtn}}"
                (click)="onReset()">Reset</button>
</section>
<section class="row">
        <button type="button"
                class="{{classBtn}}"
                (click)="onLoop()">Launch {{nbPartie}}</button>
</section>